<GFXVectorList>
<id>
2278</id>
<order>
2278</order>
<GFXVector>
<startVertex>
<x>
-2.0</x>
<y>
5.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303101</id>
</startVertex>
<endVertex>
<x>
2.0</x>
<y>
5.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303102</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86523</id>
<order>
0</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
2.0</x>
<y>
5.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303103</id>
</startVertex>
<endVertex>
<x>
7.0</x>
<y>
2.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303104</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86524</id>
<order>
1</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
7.0</x>
<y>
2.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303105</id>
</startVertex>
<endVertex>
<x>
7.0</x>
<y>
-2.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303106</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86525</id>
<order>
2</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
7.0</x>
<y>
-2.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303107</id>
</startVertex>
<endVertex>
<x>
2.0</x>
<y>
-5.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303108</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86526</id>
<order>
3</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
2.0</x>
<y>
-5.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303109</id>
</startVertex>
<endVertex>
<x>
-2.0</x>
<y>
-5.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303110</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86527</id>
<order>
4</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-2.0</x>
<y>
-5.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303111</id>
</startVertex>
<endVertex>
<x>
-7.0</x>
<y>
-2.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303112</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86528</id>
<order>
5</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-7.0</x>
<y>
-2.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303113</id>
</startVertex>
<endVertex>
<x>
-7.0</x>
<y>
2.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303114</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86529</id>
<order>
6</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-7.0</x>
<y>
2.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303115</id>
</startVertex>
<endVertex>
<x>
-2.0</x>
<y>
5.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303116</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86530</id>
<order>
7</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
2.0</x>
<y>
5.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303117</id>
</startVertex>
<endVertex>
<x>
28.8</x>
<y>
48.8</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303118</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86531</id>
<order>
8</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-2.0</x>
<y>
5.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303119</id>
</startVertex>
<endVertex>
<x>
-30.0</x>
<y>
50.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303120</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86532</id>
<order>
9</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-7.0</x>
<y>
2.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303121</id>
</startVertex>
<endVertex>
<x>
-40.0</x>
<y>
8.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303122</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86533</id>
<order>
10</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-7.0</x>
<y>
-2.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303123</id>
</startVertex>
<endVertex>
<x>
-40.0</x>
<y>
-8.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303124</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86534</id>
<order>
11</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-2.0</x>
<y>
-5.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303125</id>
</startVertex>
<endVertex>
<x>
-30.0</x>
<y>
-50.8</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303126</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86535</id>
<order>
12</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
2.0</x>
<y>
-5.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303127</id>
</startVertex>
<endVertex>
<x>
30.0</x>
<y>
-50.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303128</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86536</id>
<order>
13</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
7.0</x>
<y>
-2.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303129</id>
</startVertex>
<endVertex>
<x>
40.0</x>
<y>
-8.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303130</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86537</id>
<order>
14</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
7.0</x>
<y>
2.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303131</id>
</startVertex>
<endVertex>
<x>
40.0</x>
<y>
8.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303132</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86538</id>
<order>
15</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
24.0</x>
<y>
40.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303133</id>
</startVertex>
<endVertex>
<x>
-24.0</x>
<y>
40.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303134</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86539</id>
<order>
16</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-24.0</x>
<y>
40.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303135</id>
</startVertex>
<endVertex>
<x>
-40.0</x>
<y>
8.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303136</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86540</id>
<order>
17</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-40.0</x>
<y>
8.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303137</id>
</startVertex>
<endVertex>
<x>
-40.0</x>
<y>
-8.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303138</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86541</id>
<order>
18</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-40.0</x>
<y>
-8.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303139</id>
</startVertex>
<endVertex>
<x>
-24.0</x>
<y>
-40.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303140</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86542</id>
<order>
19</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-24.0</x>
<y>
-40.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303141</id>
</startVertex>
<endVertex>
<x>
24.0</x>
<y>
-40.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303142</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86543</id>
<order>
20</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
24.0</x>
<y>
-40.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303143</id>
</startVertex>
<endVertex>
<x>
40.0</x>
<y>
-8.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303144</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86544</id>
<order>
21</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
40.0</x>
<y>
-8.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303145</id>
</startVertex>
<endVertex>
<x>
40.0</x>
<y>
8.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303146</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86545</id>
<order>
22</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
40.0</x>
<y>
8.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303147</id>
</startVertex>
<endVertex>
<x>
24.0</x>
<y>
40.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303148</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86546</id>
<order>
23</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
16.0</x>
<y>
28.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303149</id>
</startVertex>
<endVertex>
<x>
-16.0</x>
<y>
28.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303150</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86547</id>
<order>
24</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-16.0</x>
<y>
28.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303151</id>
</startVertex>
<endVertex>
<x>
-27.0</x>
<y>
6.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303152</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86548</id>
<order>
25</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-27.0</x>
<y>
6.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303153</id>
</startVertex>
<endVertex>
<x>
-27.0</x>
<y>
-6.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303154</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86549</id>
<order>
26</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-27.0</x>
<y>
-6.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303155</id>
</startVertex>
<endVertex>
<x>
-16.0</x>
<y>
-28.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303156</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86550</id>
<order>
27</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-16.0</x>
<y>
-28.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303157</id>
</startVertex>
<endVertex>
<x>
16.0</x>
<y>
-28.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303158</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86551</id>
<order>
28</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
17.0</x>
<y>
-28.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303159</id>
</startVertex>
<endVertex>
<x>
28.0</x>
<y>
-5.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303160</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86552</id>
<order>
29</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
28.0</x>
<y>
-5.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303161</id>
</startVertex>
<endVertex>
<x>
28.0</x>
<y>
6.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303162</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86553</id>
<order>
30</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
28.0</x>
<y>
6.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303163</id>
</startVertex>
<endVertex>
<x>
16.0</x>
<y>
28.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303164</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86554</id>
<order>
31</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
9.0</x>
<y>
16.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303165</id>
</startVertex>
<endVertex>
<x>
-9.0</x>
<y>
16.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303166</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86555</id>
<order>
32</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-9.0</x>
<y>
16.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303167</id>
</startVertex>
<endVertex>
<x>
-16.0</x>
<y>
4.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303168</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86556</id>
<order>
33</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-16.0</x>
<y>
4.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303169</id>
</startVertex>
<endVertex>
<x>
-16.0</x>
<y>
-4.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303170</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86557</id>
<order>
34</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-16.0</x>
<y>
-4.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303171</id>
</startVertex>
<endVertex>
<x>
-9.0</x>
<y>
-16.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303172</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86558</id>
<order>
35</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
-9.0</x>
<y>
-16.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303173</id>
</startVertex>
<endVertex>
<x>
9.0</x>
<y>
-16.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303174</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86559</id>
<order>
36</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
9.0</x>
<y>
-16.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303175</id>
</startVertex>
<endVertex>
<x>
16.0</x>
<y>
-4.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303176</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86560</id>
<order>
37</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
16.0</x>
<y>
-4.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303177</id>
</startVertex>
<endVertex>
<x>
16.0</x>
<y>
4.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303178</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86561</id>
<order>
38</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
<GFXVector>
<startVertex>
<x>
16.0</x>
<y>
4.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303179</id>
</startVertex>
<endVertex>
<x>
9.0</x>
<y>
16.0</y>
<z>
0.0</z>
<w>
1.0</w>
<use_x>
true</use_x>
<use_y>
true</use_y>
<use_z>
true</use_z>
<use_w>
true</use_w>
<id>
1303180</id>
</endVertex>
<pattern>
255</pattern>
<r>
255</r>
<g>
255</g>
<b>
255</b>
<a>
128</a>
<id>
86562</id>
<order>
39</order>
<start_neighbour_id>
-1</start_neighbour_id>
<end_neighbour_id>
-1</end_neighbour_id>
<start_is_relative>
false</start_is_relative>
<end_is_relative>
false</end_is_relative>
<is_3d>
false</is_3d>
<intensity>
63</intensity>
</GFXVector>
</GFXVectorList>
